.main-box {
  /* background-color: white; */
  padding: 2rem;
  color: white;
}
.main-info {
  line-height: 2s;
  color: white;
}
.loc-section {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVcGaZglKVlqHdqTOGo2k78lXx0q1jWA5F1qSzdXXrdm1GZL_PaTMYCRCPY-xmVi4mFks&usqp=CAU);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  min-height: 50vh;
}
