@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.menu-icon{
    width: 3em;
    height: 3em;
    
}
.navbar-div{
   
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    position: absolute;
    width: 85%;
    z-index: 5;
    height: 5em;
}
.navbar-div-big{
    background-color: darkslategray;
    /* background-color:currentColor; */
    /* background-color: rgba(255,255,255,0.3); */
    display: grid;
    grid-template-columns:repeat(9,0.5fr);
    align-content: center;
    justify-content: space-between;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 6em;
    border-radius: 1px;
    /* box-shadow: 2px 2px 15px black; */
}
.navlink-big{
    text-decoration: none;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    /* font-family: 'Atkinson Hyperlegible', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 1rem;
    transition: all .2s ease-in-out ;
}
.navlink-big:hover{
color: #18f059;
}
.navbarlink{
    text-decoration: none;
    color: inherit;
    
}
.hcs-logo{
    display: grid;
    justify-content: center;
    align-content: center;
}
.logostyle{
    height: 4rem;
    width: 6rem;
}
.logostylebig{
    height: 4.5rem;
    width: 7rem;
}

.sample{
    border: 2px solid red;
    height: 100%;
}

.contact-btn{
    padding: 0.8em;
    background-color: #00ba51;
    border-radius: 25px;
    color: white;
    font-size: 0.9rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.contact-btn:hover{
    background-color: #134321;
    color: white;
    border: 1px solid white;
}
@media only screen and (max-width:1024px){
    .navbar-div{
        position: relative;
        width: 100%;
    }
}

@media only screen and (max-width:768px){
    
    .nav-parent-big{
     display: none;   
    }
    .nav-parent-small{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
@media only screen and (min-width:769px){
    .nav-parent-small{
        display: none;
    }
    .nav-parent-big{
        width: 100%;
        display: flex;
        justify-content: center;
    }
} 


@media only screen and (min-width:1260px){
    .navlink-big{    
        font-size: 1rem;
    }
}
@media only screen and (min-width:1025px) and (max-width:1259px){
    .navlink-big{    
        font-size: 0.9rem;
    }
}
@media only screen and (min-width:932px) and (max-width:1024px){
    .navlink-big{    
        font-size: 0.75rem;
    }
    .contact-btn{
        padding: 0.4em;
    }
}
@media only screen and (min-width:769px) and (max-width:931px){
    .navlink-big{    
        font-size: 0.75rem;
    }
    .contact-btn{
        padding: 0.8em;
        font-size: 0.65rem;
    }
}

@media only screen and (min-width:560px) and (max-width:768px){
  
}

@media only screen and (min-width:426px) and (max-width:559px){
   
}
@media only screen and (max-width:425px){
   
}