.slick-slider{
    margin-bottom: 6em;
    margin-top: 2em;
    width: 80%;
    margin: 0 auto;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
    transform: scale(1.5);

  }
  .slick-next {
    right: 3% !important;
    z-index: 1;
    transform: scale(1.5);
  }

  .news-section {
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/casino-background-green-texture_Mk-P1uqu_thumb.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    min-height: 50vh;
  }