
.owl-slider-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}
.owl-slider-style{
    width: 75%;
   
}
.owl-stage{
    padding-top: 1em;
    padding-bottom: 1em;
}

.owl-pic{
    border-radius: 50%;
    height: 160px;
    width: 20px;
    border: 4px double darkgreen;
    
}
.owl-item{
    /* filter: grayscale(100%); */
    padding: 1em;
    transition: all .5s ease-in-out;
}
.owl-item.active{
    /* filter: grayscale(100%); */
}
.owl-item.active.center{
    /* filter: grayscale(0%);
     */
     transform: scale(1.3);
  }
  