.owl-main {
  max-width: 100%;
  /* border: 2px solid black; */
  text-align: center;
  padding: 2rem;
}
.owl-heading {
  max-width: 100%;
  font-size: 1.7rem;
  /* border: 2px solid red; */
  padding: 1rem;
  font-weight: bold;
}
.owl-para {
  max-width: 100%;
  /* border: 2px solid green; */
  font-weight: 500;
}
.owl-para-main-words {
  max-width: 100%;
  color: #00ba51;
  font-weight: 500;
}
.owl-slider-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}
.owl-slider-style {
  width: 75%;
}
.owl-stage {
  padding-top: 1em;
  padding-bottom: 1em;
}

.owl-pic {
  border-radius: 50%;
  height: 160px;
  width: 20px;
  border: 4px solid darkgoldenrod;
}
.owl-item {
  /* filter: grayscale(100%); */
  padding: 1em;
  transition: all 0.5s ease-in-out;
}
.owl-item.active.center {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
  .owl-item.active.center {
    transform: scale(1);
  }
  .owl-slider-style {
    width: 95%;
  }
  .owl-pic {
    border-radius: 50%;
    height: 160px;
    width: 20px;
    transform: scale(0.6);
    border: 4px solid darkgoldenrod;
  }
  .owl-item {
    margin-bottom: 1.8em;
  }
  .owl-slider-wrap {
    padding: 0;
  }
}
