@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.rec-wrap{
    /* border: 2px solid red; */
   
    /* background-color: black; */
    background-image: url(https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2hpdGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    min-height: 50vh;
    padding: 2em;

}
.g-wrap{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
}
.rec-card{
    /* border: 2px solid blue; */
    
    
}
.pic-name-wrap{
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-gap: 1em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}
.rec-pic{
    /* border: 2px solid yellow; */
}
.rec-name{
    /* border: 2px solid pink;
    font-size: 1rem; */
    /* font-family: 'Open Sans', sans-serif; */
    display: flex;
    align-items: center;
    text-align: center;
    /* font-weight: bolder;
    color: #00ba51; */

    
    font-size: 21.98px;
    letter-spacing: 0.5px;
    color: #00ba51;
    font-weight: 500;

}
.rec-caption{
    /* border: 2px solid orange; */
    /* font-size: 1rem; */
    margin-left: 1.3em;
    /* font-family: 'Open Sans', sans-serif; */
    /* color: white; */
    /* font-weight: bold; */
    
    
    
    font-size: 14px;
    color: #fff;
    color: black;
    /* padding-left: 90px; */
    line-height: 2;
    

}

.rec-pic-style{
    border-radius: 50%;
    height: 7em;
    width: 7em;
    border: 4px double black;
}
.recog-heading{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    /* letter-spacing: 2px; */
    text-align: center; 
    margin-bottom: 1em;
}


@media only screen and (max-width:768px){
    .g-wrap{
     
        grid-template-columns: 1fr;
       
    }
}