@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

.sec-head-wrap{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: darkgreen;
    font-size: 2rem;
    padding: 0.7em;
    background-color: ghostwhite;
}