.sectionT-wrap{
    position:relative;
    /* border: 5px solid black; */
    margin-top: 2em;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-gap:2em;
    padding: 2em;
    background-color: palegoldenrod;
  
}

@media only screen and (min-width:700px) and (max-width:948px){
    .sectionT-wrap{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:699px){
    .sectionT-wrap{
        grid-template-columns: 1fr;
    }
}